input[value=color]:not(:checked) ~ input[name=colorValue] {
  display: none;
}
input[value=size]:not(:checked) ~ input[name=sizeValue] {
  display: none;
}
#outputContainer[data-hidden] {
  display: none;
}
#output {
  width: 100%;
}
@media (min-width: 768px) {
  #output {
    width: unset;
  }
}

.github {
  position: fixed;
  bottom: 0;
}